@import "tailwindcss";

body {
    height: 100vh;
}

#root {
    height: 100%;
}

* {
    box-sizing: border-box;
    user-select: none;
    font-family: Roboto, sans-serif !important;
}

@layer components {
    .drag-region {
        -webkit-app-region: drag;
    }

    .no-drag-region {
        -webkit-app-region: no-drag;
    }

    .bell-shake {
        animation: bell-shake 1.5s infinite;
        transform-origin: top center;
    }
}

@keyframes bell-shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    70% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    90% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}